.heading1 {
  display: block;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 48px;
}

.heading2 {
  display: block;
  margin-top: 24px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text {
  margin-top: 12px;
  color: #717173;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.link {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}
