.btn {
  border-radius: 24px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  width: max-content;
  gap: 8px;
}

.primary {
  background: #2583ff;
}

.secondary {
  background: #292a2d;
}

.mdSize {
  padding: 16px 32px;
}

.smSize {
  padding: 16px;
}

.fullWidth {
  justify-content: center;
  width: 100%;
}
