.btn {
  border-radius: 24px;
  background: #2583ff;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  width: max-content;
}

.fullWidth {
  justify-content: center;
  width: 100%;
}
