.tag {
  border-radius: 24px;
  padding: 12px 16px;
  width: max-content;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: center;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    word-break: break-word;
    white-space: normal;
  }
}

.default {
  background: rgba(37, 131, 255, 0.15);
  color: #2583ff;
}

.solid {
  background: #14263d;
  color: #2583ff;
}
