@use '@/shared/lib/styles/mixin.scss' as *;

.letsCreate {
  padding: 128px 0;
  @include tablet {
    padding: 32px 0;
  }
  &__content {
    display: flex;
    gap: 64px;
    width: 100%;
    align-items: center;
    @include tablet {
      flex-direction: column;
    }
    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
      @include tablet {
        width: 100%;
      }
    }
    .right {
      width: 50%;
      border-radius: 16px;
      border: 1px solid #222325;
      background: #141517;
      padding: 32px;
      @include tablet {
        width: 100%;
      }
    }
  }
}
