@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  background:
    linear-gradient(0deg, rgba(18, 19, 22, 0.2) 0%, rgba(18, 19, 22, 0.2) 100%),
    url('/images/auth/login-bg.png') lightgray 50% / cover no-repeat;
  padding: 64px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include tablet {
    padding: 64px 16px !important;
  }
}
