@use '@/shared/lib/styles/mixin.scss' as *;

.hero {
  padding: 64px 0;
  position: relative;

  > img {
    width: 100%;
    height: auto;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      color: #fff;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @include tablet {
        font-size: 42px;
        br {
          display: none;
        }
      }
    }
    p {
      color: #717173;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 32px;
      width: 600px;
      @include tablet {
        width: 100%;
        br {
          display: none;
        }
      }
    }
  }
}
