@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  border-radius: 42px;
  background: #121316;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;

  @include tablet {
    width: 100%;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 22px;

  input {
    height: 64px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p {
    color: #717173;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
