.heading {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.text {
  color: #717173;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.download {
  color: #2583ff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
