.phoneField {
  width: 100% !important;
  height: 100% !important;
  font-size: 16px !important;
  line-height: 140%;
  border-radius: 0 24px 24px 0 !important;
  background: #1b1c1e !important;
  color: #717173 !important;
  font-weight: 500 !important;
  transition: all 300ms ease-in-out;
  border: 0 !important;
  height: 52px !important;
  flex: 1;
  padding: 0 12px 0 12px !important;

  &:focus {
    outline: none;
  }
}

.dropdown {
  height: 100%;
  border: 0 !important;
  background: #1b1c1e !important;
  padding-right: 0 !important;
  padding-left: 12px !important;
  border-radius: 24px 0 0 24px !important;
}

.container {
  border-radius: 24px !important;
  background: #1b1c1e !important;

  input {
    height: 100% !important;
  }
}

.smContainer {
  height: 48px !important;

  button {
    height: 48px !important; // 52
  }
}

.mdContainer {
  height: 64px !important;

  button {
    height: 64px !important;
  }
}

.dropdownList {
  outline: none !important;
  width: 222px !important;
  background: #1b1c1e !important;
  color: #fff !important;
  li {
    &:hover {
      background: #2583ff !important;
      color: #fff !important;
      span {
        color: #fff !important;
      }
    }
  }
}

.arrow {
  border: 0 !important;
  margin: 0 !important;
  background: url('./chevron-down.svg') no-repeat !important;
  width: 16px;
  height: 16px;
  transition: all 0.3s ease-out;
}

.layout {
  position: relative;
  width: 100%;
}

.label {
  margin-bottom: 8px;
}

.dangerIntent {
  border-right: 1px solid #ff5c5c !important;
  border-bottom: 1px solid #ff5c5c !important;
  border-top: 1px solid #ff5c5c !important;
}

.dropdownDangerIntent {
  border-left: 1px solid #ff5c5c !important;
  border-bottom: 1px solid #ff5c5c !important;
  border-top: 1px solid #ff5c5c !important;
}

.hint {
  color: #ff5c5c;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: -22px;
}
