@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 650px;
  margin: 0 auto;
  padding-top: 68px;
  padding-bottom: 128px;

  @include tablet {
    width: 100%;
    padding: 32px 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h2 {
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p {
    color: #717173;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
