.layout {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titleLayout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;

  h3 {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
  }
}

.cardLayout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardRow {
  display: flex;
  gap: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.card {
  border-radius: 16px;
  background: #191a1e;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
  }

  h5 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
  }

  p {
    color: #717173;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
}
