.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;
    padding-left: 20px;
    color: #717173;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #2583ff;
    }
  }
}
